*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.6;
}


img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* END OF RESETS */

:root {
  --clr-bg: hsl(227, 37%, 12%);
  --clr-primary: hsl(49, 97%, 74%);
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-primary);
}