*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.6;
}


img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* END OF RESETS */

:root {
  --clr-neutral-800: hsl(227, 37%, 22%);
  --clr-neutral-900: hsl(227, 37%, 12%);

  --clr-primary: hsl(49, 97%, 74%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    background-color: var(--clr-neutral-900);
    color: var(--clr-primary);
}

.header{
  background-color: var(--clr-neutral-800);

}

.main {

}

.footer {
  background-color: var(--clr-neutral-800);
}

.gameboard {
  display: grid;
  margin: 0 auto;
  width: 40rem;
  height: 40rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
}

.tile {
  background-color: var(--clr-neutral-800);
}